{% extends 'main/base.html' %} {% block title %}Login{% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<form method="post">
  {% csrf_token %}{{form|crispy}}
  <button type="submit" class="btn btn-success">Login</button>

  {% comment %} <p>Don't have an account? Create one <a href="/login">Here</a>!</p> {% endcomment %}

</form>
{% endblock %}
{% comment %} 
https://www.youtube.com/watch?v=WuyKxdLcw3w 
{% endcomment %}



{% comment %} https://simpleisbetterthancomplex.com/tutorial/2017/02/18/how-to-create-user-sign-up-view.html#sign-up-with-profile-model {% endcomment %}